a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.12);
}

.header-box {
  display: flex;
}
.header-box--conteiner {
  width: 1200px;
  padding: 0px 15px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.header__logo-studio {
  color: #212121;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  margin-right: 94px;
}
.header__logo-studio .header__logo-web {
  color: #2196F3;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.site-nav {
  display: flex;
  margin-left: auto;
  margin: 0;
}
.site-nav li {
  margin-right: 50px;
}
.site-nav .site-nav__item:last-child {
  margin: 0px;
}

.site-nav__link {
  position: relative;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  padding: 32px 0px;
  display: block;
}
.site-nav__link::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  display: block;
  border-radius: 2px;
  background-color: #2196F3;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover::after {
  opacity: 1;
}
.site-nav__link--current::after {
  opacity: 1;
}
.site-nav__link-current {
  color: #2196F3;
}
.site-nav__link:hover, .site-nav__link:focus {
  color: #2196F3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts {
  display: flex;
  margin-left: auto;
}
.contacts .site-nav__item + .site-nav__item {
  margin-left: 34px;
}

.contacts__mailto-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  padding: 32px 0px;
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.contacts__mailto-link:hover, .contacts__mailto-link:focus {
  color: #2196F3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__tel-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  padding: 32px 0px;
  display: flex;
  align-items: center;
}
.contacts__tel-link:hover, .contacts__tel-link:focus {
  color: #2196F3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*---------------------------------------HEADER ICONS--------------------------------*/
.contacts__icons {
  fill: #AFB1B8;
  margin-right: 10px;
}
.contacts__mailto-link:hover .contacts__icons {
  fill: #2196F3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__mailto-link:focus .contacts__icons {
  fill: #2196F3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__tel-link:hover .contacts__icons {
  fill: #2196F3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__tel-link:focus .contacts__icons {
  fill: #2196F3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tittle-section {
  padding: 200px 0px;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2F303A;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mainbckg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.tittle-section__heading {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: #ffffff;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.tittle-section__button {
  background-color: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  line-height: 1.875;
  color: #FFFFFF;
  display: block;
  padding: 10px 32px 10px 32px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  margin-top: 30px;
}
.tittle-section__button:hover {
  background-color: steelblue;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-advantages li {
  margin-left: 30px;
  width: 270px;
}
.section-advantages h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.section-advantages p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.section-advantages__box {
  background: #F5F4FA;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  gap: 35px;
  margin-bottom: 27px;
}

.section-advantages__list {
  display: flex;
  justify-content: center;
}
.section-advantages__list li:first-child {
  margin: 0;
}

.tittle-photo {
  padding-top: 0px;
}

.conteiner-two {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
.conteiner-two h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  margin-bottom: 50px;
}

.displayed-foto {
  display: flex;
  justify-content: center;
}
.displayed-foto .displayed:last-child {
  margin: 0px;
}
.displayed-foto .displayed {
  margin-right: 30px;
}

.displayed-thumb {
  position: relative;
}
.displayed-thumb .box-bkg {
  position: absolute;
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  bottom: 0;
}
.displayed-thumb .box-bkg h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 0.87;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.team {
  background: #F5F4FA;
}
.team h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--tittle-text-color);
  margin-bottom: 50px;
  text-align: center;
}
.team h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--tittle-text-color);
  margin-bottom: 10px;
}
.team li {
  background-color: #FFFFFF;
}
.team p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--paragraf-text-color);
  text-align: center;
  margin-bottom: 16px;
}

.our-team {
  display: flex;
  justify-content: center;
}
.our-team .team-card:first-child {
  margin: 0;
}

.team-card {
  margin-left: 30px;
}
.team-card img {
  display: block;
  max-width: 270px;
  height: 260px;
  background: #F5F4FA;
}

.div-team-card {
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #FFFFFF;
  padding-bottom: 30px;
  padding-top: 30px;
}

.cards-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.cards-soc-item {
  width: 44px;
  height: 44px;
}

.cards-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards-soc-link:hover {
  background-color: #2196F3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cards-soc-link:focus {
  background-color: #2196F3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cards-soc-link:focus .cards-soc-icons {
  fill: #FFFFFF;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cards-soc-link:hover .cards-soc-icons {
  fill: #FFFFFF;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-soc-icons {
  fill: #AFB1B8;
}

.regular-customers {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.regular-customers h2 {
  margin-bottom: 50px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 0.85;
  text-align: center;
  letter-spacing: 0.03em;
}

.regular-customers-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.regular-customers-item {
  min-width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
}
.regular-customers-item:hover {
  border-color: #2196F3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.regular-customers-item:hover .regular-customers-icons {
  fill: #2196F3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.regular-customers-item:focus {
  border-color: #2196F3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.regular-customers-item:focus .regular-customers-icons {
  fill: #2196F3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-customers-icons {
  width: 106px;
  height: 60px;
}
.regular-customers-icons {
  fill: #AFB1B8;
}

.regular-customers-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}

.footer-adress {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
.footer-adress:hover {
  color: #2196F3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-adress:focus {
  color: #2196F3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-studio-footer {
  color: #FFFFFF;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  display: block;
}

.link-footer-css li {
  margin-bottom: 9px;
}
.link-footer-css li:last-child {
  margin: 0px;
}

.logo-web-footer {
  color: #2196F3;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.link-footer {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.link-footer:hover {
  color: #2196F3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-footer:focus {
  color: #2196F3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-list {
  display: flex;
  gap: 10px;
}

.footer-soc-link {
  padding: 12px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  background: rgba(255, 255, 255, 0.1);
}
.footer-soc-link:hover {
  background: #2196F3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-link:focus {
  background: #2196F3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-item .footer-soc-icons {
  fill: #FFFFFF;
}

.text-footer {
  margin-right: 70px;
}

.footer-soc-links h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 0.85;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 20px;
  text-align: left;
}

.subscribe-icon {
  margin-left: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  width: 24px;
  height: 24px;
}

.subscribe-tg-form {
  margin-left: 93px;
  width: auto;
}

.subscribe-box {
  display: flex;
  margin-top: 20px;
}
.subscribe-box input::-moz-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-box input:-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe-box input::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-tg-form label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.subscribe-tg-form input {
  width: 358px;
  height: 50px;
  background: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  color: rgba(255, 255, 255, 0.6);
  padding: 15px 0 15px 16px;
}
.subscribe-tg-form button {
  width: 200px;
  height: 50px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 0.53;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 13px 28px 13px 28px;
  color: #FFFFFF;
  cursor: pointer;
}
.subscribe-tg-form:hover button {
  background-color: steelblue;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.conteiner-footer {
  position: relative;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: baseline;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 1;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  min-width: 528px;
  min-height: 581px;
  background: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.modal h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.modal-close-item {
  display: flex;
  justify-content: end;
}

.modal-close-btn {
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  fill: #212121;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}
.modal-close-btn:hover {
  color: #2196F3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover + .modal-icon-close {
  fill: #2196F3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:focus {
  color: #2196F3;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.modal-close-btn:focus + .modal-icon-close {
  fill: #2196F3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon-close {
  fill: currentColor;
  padding-top: 3px;
  padding-left: 2px;
  padding-right: 2px;
}

.form-label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 0.85;
  letter-spacing: 0.01em;
  color: #757575;
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
}

.modal-input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  padding-left: 35px;
}
.modal-input:hover {
  border-color: #2196F3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:hover + .modal-icons {
  fill: #2196F3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: #2196F3;
  outline: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .modal-icons {
  fill: #2196F3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.js-speaker-form {
  padding-left: 20px;
  padding-right: 20px;
}
.js-speaker-form input:last-child {
  margin: 0px;
}
.js-speaker-formlabel:last-child {
  margin: 0px;
}

.comment-textarea {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.comment-textarea:focus {
  border-color: #2196F3;
  outline: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment-textarea:hover {
  border-color: #2196F3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrap {
  position: relative;
  margin-top: 4px;
  margin-bottom: 10px;
}

.modal-icons {
  width: 12px;
  height: 12px;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translate(0%, -60%);
}

/*--------------------------------Checkbox---------------------------------*/
.form-checkbox {
  display: flex;
  justify-content: center;
  position: relative;
}

.form-policy-label {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-policy-label span {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.form-policy-icon {
  width: 16px;
  height: 15px;
  fill: #FFFFFF;
}

.form-checkbox-input {
  position: absolute;
  top: 14px;
  left: 30px;
}
.form-checkbox-input:checked + .form-policy-label span {
  background-color: #2196F3;
  border: none;
  fill: #FFFFFF;
}

.form-policy-link {
  text-align: center;
  justify-content: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #2196F3;
  text-decoration: underline;
}

/*------------------------btn-from-submit------------------------*/
.btn-from-submit {
  background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: none;
  width: 200px;
  height: 50px;
  padding: 10px 52px;
  margin-top: 40px;
}
.btn-from-submit:hover {
  cursor: pointer;
  background-color: steelblue;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buttons-filters {
  display: flex;
  justify-content: center;
}
.buttons-filters li {
  margin-left: 16px;
}
.buttons-filters li:first-child {
  margin-left: 0;
}

.button-filter-item {
  background: #F5F4FA;
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border: none;
  color: #212121;
  padding: 6px 22px;
  display: flex;
}
.button-filter-item:focus {
  background-color: #2196F3;
  color: #FFFFFF;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-filter-item:hover {
  background-color: #2196F3;
  color: #FFFFFF;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-flex {
  display: flex;
  justify-content: center;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.cards-title {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  justify-content: center;
  gap: 30px;
}

.cards {
  background: #FFFFFF;
  width: 370px;
  height: 400px;
}
.cards:hover {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.cards:focus {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.cards a {
  display: block;
}

.cards-text {
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  border: 1px solid #EEEEEE;
  border-top: none;
}
.cards-text h2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}
.cards-text p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.description {
  position: relative;
  overflow: hidden;
}
.description::before {
  content: "";
  position: absolute;
  background: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  transform: translateY(101%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.description:hover::before {
  transform: translateY(0);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.description:focus::before {
  transform: translateY(0);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.description-text {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  padding: 63px 24px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.description-text:hover::before {
  transform: translateY(0);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.description-text:focus::before {
  transform: translateY(0);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-link:focus .description::before {
  transform: translateY(0);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cards-link:hover .description-text {
  transform: translateY(0);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.cards-link:focus .description-text {
  transform: translateY(0);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-link:hover .description::before {
  transform: translateY(0);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}/*# sourceMappingURL=main.css.map */