.section-advantages  {
    
    & li {
        margin-left: 30px;
        width: 270px;
    }
    & h3 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 10px;
    }
    & p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: $paragraf-text-color;
    }

}

.section-advantages__box {
    background: #F5F4FA;
    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    gap: 35px;
    margin-bottom: 27px;
}


.section-advantages__list {
    display: flex;
    justify-content: center;

    & li:first-child { 
        margin: 0;
    }
}