.tittle-section {


    padding: 200px 0px;
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: #2F303A;
    background-image: 
        linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url(../images/mainbckg.jpg);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



.tittle-section__heading {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color: #ffffff;

    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.tittle-section__button {
    background-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    line-height: calc(30/16);
    color: #FFFFFF;

    display: block;
    padding: 10px 32px 10px 32px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    margin-top: 30px;


    &:hover { 
        background-color: steelblue;
        transition: 250ms $timing-function;
    }
}
