.regular-customers {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;

    h2 {
            margin-bottom: 50px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 0.85;
            text-align: center;
            letter-spacing: 0.03em;
        }
}

.regular-customers-list {

    display: flex;
    justify-content: center;
    gap: 30px;
}

.regular-customers-item {
    min-width: 170px;
    height: 92px;

    border: 1px solid #AFB1B8;
    border-radius: 4px;

    &:hover {
            border-color:$accent-color;
            transition: 250ms $timing-function;
        }
                 &:hover  .regular-customers-icons {
                     fill:$accent-color;
                     transition: 250ms $timing-function;
                 }
        &:focus {
            border-color:$accent-color;
            transition: 250ms $timing-function;
        }

        &:focus .regular-customers-icons {
            fill:$accent-color;
            transition: 250ms $timing-function;
        }


}

.regular-customers-icons {
    width: 106px;
    height: 60px;
     & {
            fill:$icons-text-color;
    
        }
    
   
}

.regular-customers-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}









